*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png


/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user
